html {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;       
}

body {
    width: 100%;
    height: 100vh;
    font-size: 20px;
    margin: 2px;
    padding: 2px;    
    background: linear-gradient(90deg, #0020ff, #e2e69a);
}

.logo {
    width: 200px;
    height: auto;
    padding-left: 35px;
    padding-top: 10px;
}    

.logoimg {
    width: 100%;
    height: auto;    
}

#shadow .image {
    width: 400px;
    border-radius: 25px;           
}

#shadow {
    box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 68);
    border-radius: 25px;
}

.image2 {
    width: 100%;
    height: auto;
    padding-top: 150px;    
}

.logopie {
    width: 600px;    
}

.logofooter {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#space {
    padding-bottom: 30px;
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.border-success {
    height: 15%;
}

.col-4 {
    width: 42%;
    padding-top: 30px;
    padding-left: 50px;
}

.col-2 {
    padding-top: 15px;
}

.index {
    padding-top: 30px;
}

.caja {
    align-self: center; 
}

.copy {
    text-align: right;
    margin-right: 5px;
}

#metal {
    display: none;
}

#plancha {
    display: none;
}

.top {
    padding-top: 4%;
}

.justify {
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 115px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.table {
    color: white;
}

.contacto {
    justify-content: center;
    align-items: flex-start;
}

table {
    background: linear-gradient(10deg, #6f5cd2, #0ef0c8);
    border: 2px solid white;
}

/*estilo de sub nav*/

.fondo {
    background-color: rgba(0, 123, 255, 0.46);
    border-radius: 15px;
}

.right {
    animation-name: fadeRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
    visibility: visible;
}

.left {
    animation-name: fadeLeft;
    animation-duration: 2s;
    animation-delay: 0.5s;
    visibility: visible;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate3d(500%, 0, 0);
        -webkit-transform: translate3d(500%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(-500%, 0, 0);
        -webkit-transform: translate3d(-500%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

.object {
    position: absolute;
}

.van {
    top: 45%;   
}

/*estilo tabla*/

table {
    width: 600px;
    height: 380px;
}

/*estilo subfooter*/

.subfooter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: white;
    border-radius: 15px;
    width: 13%; 
    height: auto; 
}

.lista ul li  {
    list-style: none;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

/*slide trabajo*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 150px;
    height: 100px;
}

/*Estilos del modal*/

.modal, .modal1, .modal2, .modal3, .modal4 {
    display: none;
}

.modal:target, .modal1:target, .modal2:target, .modal3:target, .modal4:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal, .modal1, .modal2, .modal3 h3, .modal4 h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 60%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 35px;
    height: 35px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

.title, .botones {
    padding-left: 20%;
}